$white: rgb(255, 255, 255);
$whiteish: rgb(254, 254, 254);
$blue: rgb(50, 112, 166);
$teal: rgb(3, 140, 127);
$green: rgb(22, 140, 64);
$lightgreen: rgb(93, 191, 78);
$blackish: rgb(13, 13, 13);
$black: rgb(0, 0, 0);

$lightgray: rgb(217, 217, 217);
$gray: rgb(153, 153, 153);
$mediumgray: rgb(89, 89, 89);
$darkgray: rgb(51, 51, 51);

$warning: #ffae00;
$alert: #cc4b37;
